@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-color: cornflowerblue;
  --text-color: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  padding: 1rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
}

.nav-item {
  margin-right: 1rem;
}

.nav-item:last-child {
  margin-right: 1.5rem;
}

.nav-item a:hover {
  color: var(--primary-color);
}

.nav-buttons {
  display: flex;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1.3rem;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  transition: 0.3s all ease;
}

.btn:first-child {
  margin-right: 0.5rem;
}

.btn-login {
  background-color: #fff;
  color: var(--primary-color);
}

.btn-register {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-login:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-register:hover {
  opacity: 0.9;
}
